.navbar {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}

.navbar li:hover{
    transform: scale(1.1,1.1);
}

.navbar-brand {
    margin-left: 20px !important;
    font-size: 1.5rem !important;
}

.navbar-collapse {
    margin-right: 1rem !important;
}

@media (max-width: 570px) {
    .navbar-brand {
        font-size: 1rem !important;
    }
}

@media (max-width: 700px) {
    .navbar li {
        font-size: 13px;
    }
    .navbar li:hover{
        transform: scale(1,1);
    }
}

